/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Add Styles Here */


#container {
	position:relative;
    top:30px;
    width: 60%;
    margin: 0 auto;
}

.slides {
    padding: 0;
    max-width: 100%;
    height:auto;
}

.slides input { display: none; }


.slide {
    top: 0;
    opacity: 0;
    max-width: 100%;
    height:auto;
    display: block;
    position: absolute;
    transition: all .7s ease-in-out;
}

.slide img {
	display:block;
    max-width: 100%;
}

.nav label {
    height: 100%;
    display: none;
    position: absolute;

    opacity: .25;
    
	color: gray;
    font-size: 7em;
}

.nav label:hover { opacity: 0.5; }
.nav .next { right: -20%; }
.nav .prev { left: -20%; }



input:checked + .slide-container  .slide {
    opacity: 1;

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }




@media screen and (max-width:900px) { 
	.nav label {
	    font-size: 5em;	
}
}

@media screen and (max-width:600px) { 
	.nav label {
	    font-size: 3em;	
}
}


