/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Add Styles Here */


body{
	width:70%;
	margin: 0 auto;
}

h1{
font-family: 'Titillium Web', sans-serif;
font-weight:600;
line-height: 1em;
letter-spacing:1px;
color:#666;
margin: 12px 0px 9px 0px;
text-transform: uppercase} 

p{
font-family: 'Titillium Web', sans-serif;
font-weight:300;
line-height: 1.4em;
letter-spacing:.8px;
color:#666;} } 



/*-----header and nav----*/

#topnav-container {
	height:10%;
	padding-top: 5%;
	padding-bottom: 2%;
	
	border-style:solid;
	border-bottom-color: gray;
	border-bottom-width: 3px;
}

#top-nav{
	float:right;

}

.onpage a:{
	border-style: solid;
	border-color: gray;
	border-width: 2px;
}
#top-nav a{
	text-decoration:none;
}




/*-----homepage slider----*/

#container {
	position:relative;
    top:30px;
}

.slides {
    padding: 0;
    max-width: 100%;
    height:auto;
}

.slides input { display: none; }

.slide {
    top: 0;
    opacity: 0;
    max-width: 100%;
    height:auto;
    display: block;
    position: absolute;
    transition: all .7s ease-in-out;
}

.slide img {
	display:block;
    max-width: 100%;
}

.nav label {
    height: 100%;
    display: none;
    position: absolute;

    opacity: .25;
    
	color: gray;
    font-size: 7em;
}

.nav label:hover { opacity: 0.5; }
.nav .next { right: -6%; }
.nav .prev { left: -6%; }


input:checked + .slide-container  .slide {
    opacity: 1;

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

@media screen and (max-width:960px) { 
	.nav label {
	    font-size: 4em;	
}
}

@media screen and (max-width:600px) { 
	.nav label {
	    font-size: 2em;	
}
}



/*-----work page thumbnails----*/



.box {
	width:29.3%;
    float:left;
    padding-bottom:23.1%;
	margin:2%;
}


.tile {	
	position:absolute;
	overflow:hidden;}

.color-box {
	position:absolute;
	background-color:white;
	opacity:0;
	width: 100%;
	height:35%;
	
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out; 
}

.title{
	font-size:1em;
	color:#666;
	text-align:center;
	width:100%;
}

.box:hover .color-box {
	margin-bottom:0;
	opacity:.8;}


	










