
/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 09
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* -----------------END RESET---------------- */

 
 

body {
  margin:0 auto;
  width:80%;
}




header {
	text-align: center;
}

#main-nav{
 	border-top:solid 3px black;
    border-bottom:solid 3px black;
 }
 
#main-nav li{
	 font:bold 1.56em Georgia;
	 text-transform:uppercase;
	 padding: .15em .4em .15em .4em;
	 display: inline-block; 
 }	
 

#mobile-nav {
	 display:none;
	 border-top:solid 3px black;
	 border-bottom:solid 3px black
 }

 #mobile-nav li{
 	 font:bold 1.56em Georgia;
	 line-height:1.5;
 	 text-transform:uppercase;
  }	

header img{
	padding-top: 1.25em;
	padding-bottom:2.19em;
	display: inline-block;
}
  

	
	
	
	
	
h1{
	font:bold 1.56em Georgia;
	padding-bottom:.8em;	
	}

p{
	font:1em Georgia;
	line-height:1.4;	
	}

.image{
	padding-bottom:1em;
	padding-top:1.25em;
	max-width: 100%;
}

.column{
	float:left;
	margin-left:3%;
	width:45%;
}

#container {
	clear: both;
	padding-bottom: 1.25em;
    border-bottom:solid .1875em black;
	overflow: auto;
}
	
	
	
	
	
footer{
	padding-top:1em;
	font-size:.75em Georgia;
}
	
#sources{
	float:left;
	padding-left: 2.189em;
}	

#copyright{
	float:right;
	padding-right: 2.189em;
}

a{
	color:#B20000;
	text-decoration:none;
}
	
a:hover{
	color:gray;
	text-decoration:none;	
}	





@media screen and (max-width:850px) { 

	.column{float:none; width:98%; margin:0 1%;}
	
	#sources{
		float:none;
		padding:0em}	

	#copyright{float:none;
	padding:0em}	
}




@media screen and (max-width:550px) { 
	#mobile-nav {display:block}
  	 
	#main-nav {display:none}
	
	.column{float:none; width:98%; margin:0 1%;}
	
	#sources{
		float:none;
		padding:0em}	

	#copyright{float:none;
	padding:0em}	
	
	p{
		font:.9em Georgia;
		line-height:1.3;	
	}

}
	